.ipynb_checkpoints*
data/
results/*.csv
results/joins/*.csv
*.csv
notebooks/David
notebooks/figs/*
notebooks/models/*
notebooks/eda.ipynb*
*.txt
*__pycache__
*.pyc
*.zip
*.xlsx
raster/
shapes
*.xls
venv*
.DS_Store
.idea/
src/hypertunning.py
config/
figs/*
models/*
*.pem